-
    const listItem = { 
        listTitle:'MENS',
        items:[{
            title:'CASUALS',listLinks:{"Jackets":'http://',"Hoodies & Sweatshirts":'http://',"Polo Shirts":'http://',"Sportswear":'http://',"Trousers & Chinos":'http://',"T Shirts":'http://'}
        },{
            title:'FORMAL',listLinks:{'Jackets':'http://','Shirts':'http://','Suits':'http://','Trousers':'http://'}}],
            messageBox:{mainMessage:'AUTUMN SALE',subMessage:'UP TO 50% OFF'
        }
    }

    const listItem2 = { 
        listTitle:'WOMENS',
        items:[{
            title:'OUR LOOKBOOK',listLinks:{"Latest Post(mixed)":'http://',"Men's Lookbook":'http://',"Women's Lookbook":'http://'}
        },{
            title:'YOUR LOOKBOOK',listLinks:{'View and Edit':'http://','Share':'http://','Delete':'http://'}}],
            messageBox:{mainMessage:'AUTUMN SALE',subMessage:'UP TO 50% OFF'
        }
    }

    const listItem3 = { 
        listTitle:'THE BRAND',
        items:[{
            title:'OUR LOOKBOOK',listLinks:{"Latest Post(mixed)":'http://',"Men's Lookbook":'http://',"Women's Lookbook":'http://'}
        },{
            title:'YOUR LOOKBOOK',listLinks:{'View and Edit':'http://','Share':'http://','Delete':'http://'}}],
            messageBox:{mainMessage:'AUTUMN SALE',subMessage:'UP TO 50% OFF'
        }
    }

    const listItem4 = { 
        listTitle:'LOCAL STORES',
        items:[{
            title:'OUR LOOKBOOK',listLinks:{"Latest Post(mixed)":'http://',"Men's Lookbook":'http://',"Women's Lookbook":'http://'}
        },{
            title:'YOUR LOOKBOOK',listLinks:{'View and Edit':'http://','Share':'http://','Delete':'http://'}}],
            messageBox:{mainMessage:'AUTUMN SALE',subMessage:'UP TO 50% OFF'
        }
    }

    const listItem5 = { 
        listTitle:'LOOK BOOK',
        items:[{
            title:'OUR LOOKBOOK',listLinks:{"Latest Post(mixed)":'http://',"Men's Lookbook":'http://',"Women's Lookbook":'http://'}
        },{
            title:'YOUR LOOKBOOK',listLinks:{'View and Edit':'http://','Share':'http://','Delete':'http://'}}],
            messageBox:{mainMessage:'AUTUMN SALE',subMessage:'UP TO 50% OFF'
        }
    }

mixin nav-content(contentHolder)
    li.nav-click= contentHolder.listTitle+' '
        i.fa.fa-angle-down
        .content-sub
            each item in contentHolder.items
                .title= item.title
                    ul.links
                        each value, key in item.listLinks
                            li
                                a(href!=value)= key
            .message-box
                b.main= contentHolder.messageBox.mainMessage
                b.sub-main= contentHolder.messageBox.subMessage

mixin nav-content-mobile(contentHolder)
    li.nav-click= contentHolder.listTitle+' '
        i.fa.fa-angle-right   
            
mixin content-holder(contentHolder)
    .content-sub
            .back-btn <i class="fa fa-angle-left"></i> MAIN MENU
            each item in contentHolder.items
                .title= item.title
                    ul.links
                        each value, key in item.listLinks
                            li
                                a(href!=value)= key
            .message-box
                b.main= contentHolder.messageBox.mainMessage
                b.sub-main= contentHolder.messageBox.subMessage

nav.home-nav
    .nav-upper-holder
        .nav-content.wrapper_70
            ul
                li.currency-holder Currency: 
                    select(name="currency_select")
                        option(value="GBP") GBP
                        option(value="BitCoin") BitCoin
                        option(value="Ethereum") Ethereum
                        option(value="dollar") Dollar $
                        option(value="Euro #") Euro #
                    i.fa.fa-caret-down
                li 
                    a(href="http://") Register
                li 
                    a(href="http://") Sign In
                li 
                    a(href="http://") <i class="fa fa-cart-arrow-down fa-2x"></i> empty <i class="fa fa-angle-down"></i>
        .nav-mobile
            ul
                li.cancel-btn#cancel-modal <i class="fa fa-times fa-2x"></i>
                +nav-content-mobile(listItem)
                +nav-content-mobile(listItem2)
                +nav-content-mobile(listItem3)
                +nav-content-mobile(listItem4)
                +nav-content-mobile(listItem5)
                li.search-holder <input type="search" name="search" id="search_box" placeholder="Search here.."/><i class="fa fa-search" id="searclogo"></i>
                li.currency-holder Currency: 
                    select(name="currency_select")
                        option(value="GBP") GBP
                        option(value="BitCoin") BitCoin
                        option(value="Ethereum") Ethereum
                        option(value="dollar") Dollar $
                        option(value="Euro #") Euro #
                    i.fa.fa-caret-down
                li 
                    a(href="http://") Register
                li 
                    a(href="http://") Sign In
                li 
                    a(href="http://") <i class="fa fa-cart-arrow-down fa-2x"></i> empty <i class="fa fa-angle-down"></i>
                
            .content-holder
                +content-holder(listItem)
                +content-holder(listItem2)
                +content-holder(listItem3)
                +content-holder(listItem4)
                +content-holder(listItem5)


    .nav-below-holder.wrapper_11
        .brand-title AVENUE <span class="thin-shot">FASHION</span>
        .nav-main
            ul
                +nav-content(listItem)
                +nav-content(listItem2)
                +nav-content(listItem3)
                +nav-content(listItem4)
                +nav-content(listItem5)
                li <input type="search" name="search" id="search_box" placeholder="Search here.."/><i class="fa fa-search" id="searclogo"></i>
        .nav-icon#menu-click
            i.fa.fa-bars.fa-3x
    
    a.home-cta(href="http://") SHOP MEN'S COLLECTION